{% extends 'base.html' %}

{% load static %}

{% block title %}Home page{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main.css' %}" />
{% endblock %}

{% block content %}
<div class="cols">
    <div>
        <h2>Привет, @{{ user.username }}!</h2>
        <h1>У тебя всего {{ tasks|length }} задач</h1>
    
        <ul class="pagetabs">
            <li>Сегодня</li>
            <li>На этой неделе</li>
            <li>Позднее</li>
        </ul>

        <div id="taskx">
            {% if tasks %}
                {% for task in tasks %}
                    {% include "projects/comp/task-card2.html" %}
                {% endfor %}
            {% else %}
                <h3>У тебя пока нет задач.</h3>
            {% endif %}
        </div>
    </div>
    
    <div>
        <a href="{% url 'task-create' 0 %}" class="btn-prim">
            <span>Добавить задачу</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
        </a>
    </div>
</div>


{% endblock content %}

{% block script %}
    <script src="{% static 'status-change.js' %}"></script>
{% endblock %}