{% extends 'base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }} (@{{ user.username }})</h1>
<div class="infobox">
    <div class="infocard green">
        <span>Мой прогресс</span>
        <h1 hx-trigger="htmx:afterSwap from:#taskx delay:1s" hx-get="{% url 'getmyprogress' %}">{{ my_progress }}</h1>
    </div>
    <div class="infocard purple">
        <span>Моих задач</span>
        <h1>{{ tasks|length }}</h1>
    </div>
    <div class="infocard yellow">
        <span>Проектов со мной</span>
        <h1>{{ projects|length }}</h1>
    </div>
</div>


<br><br>
<a href="{% url 'task-create' 0 %}" class="btn-primary">Новая задача</a>
<a href="{% url 'project-create' %}" class="btn-primary">Новый проект</a>
<br><br>
<div class="home-cols">
    <div id="taskx">
        <h2>Мои задачи</h2>
        {% if tasks %}
        {% for task in tasks %}
            {% include "projects/comp/task-card.html" %}
        {% endfor %}
        {% else %}
            <h3>У тебя пока нет задач.</h3>
        {% endif %}
    </div>

    <div>
        <h2>Мои проекты</h2>
        {% if projects %}
        {% for project in projects %}
            {% include "projects/comp/proj-card.html" %}
        {% endfor %}
        {% else %}
            <h3>Ты пока не участвуешь ни в одном проекте.</h3>
        {% endif %}
    </div>

</div>




{% endblock content %}