{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
    <h1>All projects list</h1>

    {% if projects %}

        {% for project in projects %}
            <h3>ID: {{ project.id }}</h3>
            <ul>
                <li><b>Project title:</b> {{ project.title}}</li>
                <li><b>Category:</b> {{ project.category}}</li>
                <li><b>Head of the project:</b> {{ project.head}}</li>
                <li><b>Description:</b> {{ project.description}}</li>
                <li><a href="{%url 'project-update' project.id %}">Edit</a></li>
            </ul>
        {% endfor %}

    {% else %}
    
        <h3>You have no projects yet.</h3>
    {% endif %}

{% endblock content %}


