{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
    <h1>All projects list</h1>

    {% if projects %}

        {% for project in projects %}
        <div class="card" style="margin-bottom: 1rem;">
            <span class="project-date">{{ project.created }}</span>
            <h4 class="project-title">{{ project.title }}</h4>
            <p class="project-category">{{ project.category}}</p>
            <p style="margin: 0; font-size: .7rem; font-weight: 700;">Progress: {{ project.progress }} %</p>
            <progress value="{{ project.progress }}" max="100"></progress>
            <p class="project-date">{{ project.days_remaining }} remaining</p>
            <a class="btn-primary" href="{%url 'project-update' project.id %}">Edit</a>
        </div>
        {% endfor %}

    {% else %}
    
        <h3>You have no projects yet.</h3>
    {% endif %}

{% endblock content %}


