{% extends 'base.html' %}
{% load static %}

{% block title %}Создать новую задачу{% endblock title %}

{% block content %}
<h1>Создать новую задачу</h1>


<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
    </p>
    {% endfor %}


    <input type="submit" value="Создать новую задачу">
</form>



{% endblock content %}

{% block script %}
$(function(){
    $("input[name='date_start']").datepicker({
        dateFormat: "dd.mm.yy",
        firstDay: 1
    });
    $("input[name="date_end"]").datepicker({
        dateFormat: "dd.mm.yy",
        firstDay: 1
    });
})
{% endblock script %}