{% load static %}
<div class="card project-card">
    <div class="space-between">
        <!-- Left block -->
        <div>
            <h3 style="margin: 0" class="project-title">
                <a href="{%url 'task-update' task.id %}">
                    {{ task.title }} @{{ task.executor.username }}
                </a>
            </h3>
            <small><b>{{ task.project }}/</b> до {{ task.date_end }}</small>
        </div>

        <!-- Right block -->

        <div class="status-badge__wrapper">
            <span class="status-badge__text status-{{ task.status }}">
                {{ task.get_status_display }}
            </span>
            <div class="status-badge__buttons">
                <a
                    href=""
                    hx-get="{% url 'task-make-inbox' task.id %}"
                    hx-target="#taskx"
                    >Входящие</a
                >
                <a
                    href=""
                    hx-get="{% url 'task-make-working' task.id %}"
                    hx-target="#taskx"
                    >Выполняется</a
                >
                <a
                    href=""
                    hx-get="{% url 'task-make-done' task.id %}"
                    hx-target="#taskx"
                    >Готово</a
                >
            </div>
        </div>
    </div>
</div>
