@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --col-prim: #ff7020;
    --col-prim-hov: #f76510;
    --col-prim-lig: #f2dfd3;
    --col-prim-lig-hov: #efd2c1;
    --col-sec: #630cf0;
    --col-sec-hov: #7033fe;
}
body {
    margin: 0;
    font-family: "Overpass", sans-serif;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 1rem;
    box-sizing: border-box;
}
/* BASIC LAYOUT */
nav {
    box-sizing: border-box;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}
nav .logo {
    margin-bottom: 1.5rem;
}
nav .navgroup {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
nav a {
    display: flex;
    gap: .6rem;
    align-items: center;
    padding: .8rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    transition: background-color .3s ease-in-out;
}
nav a:hover {
    background-color: #f0f0f0;
    transition: background-color .3s ease-in-out;
}
nav a.active {
    background-color: black;
    color: white;
}
nav a span {
    margin-top: .2rem;
    font-size: .9rem;
}
main {
    padding: 3rem 2rem;
}
