/* Import of Nunito Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,700;1,900;1,1000&display=swap');


/* Body styles */
body {
    padding: 1rem 4rem;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #EBEBEB;
}


/* Navigation list styles */
.nav {
    display: flex;
    margin: 0;
    padding: 0;
}
.nav li {
    display: flex;
    list-style: none;
}
.nav li:not(:last-child) {
    margin-right: 1rem;
}




.btn-primary {
    background-color: #52489C;
    padding: .4rem .8rem;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    color: white;
}
.btn-primary:hover {
    background-color: #473f85;
}


.btn-secondary {
    outline: 2px solid #52489C;
    outline-offset: -2px;
    color: #52489C;
    padding: .4rem .8rem;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
}
.btn-secondary:hover {
    background-color: #473f85;
    outline: 2px solid #473f85;

    color: white;
}



.card {
    background-color: #FBFBFB;
    padding: 2rem;
    border-radius: 1rem;
}
.project-card, .task {
    background-color: #fff;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.1);
}
.project-card .top {
    background-color: white;
    padding-bottom: 1rem;
}
.project-card .bottom {
    background-color: white;
    padding-top: 1rem;
    border-top: solid 1px #EBEBEB;
}
.task {
    margin-bottom: 1rem;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}
.task:last-child {
    margin-bottom: 0;
}
.status-DN {
    color: green;
}
.status-IN {
    color: salmon;
}






.projects-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-date {
    font-weight: 400;
    font-size: .8rem;
    color: #A3A3A3;
    margin: 0;
}
.project-title {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.project-title a {
    color: black;
    text-decoration: none;
}
.project-title a:hover {
    color: #52489C;
}
.project-category {
    margin-top: 0;
}
.project-description {
    border-radius: .8rem;
    border: solid 1px #CAD2C5;
    padding: 1rem 1.6rem;
    background-color: #eff4ec;
}
.project-description h1, .project-description h2, .project-description h3, .project-description h4, .project-description h5 {
    margin: 0;
}

.project-progress {
    margin: 0 0 -0.5rem 0; font-size: .7rem; font-weight: 700;
}


progress[value] {
  --color: #84A98C; /* the progress color */
  --background: #CAD2C5; /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: .5rem;
  border-radius: 10em;
  background: var(--background);

}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}




/* Tags styles */
.tag-category {
    background-color: #dfdcf5;
    color: #52489C;
    font-size: .85rem;
    display: inline-block;
    padding: .3rem .6rem;
    border-radius: .6rem;
    font-weight: 700;
}
.tag-grey {
    background-color: rgb(237, 237, 237);
    color: grey;
    font-size: .65rem;
    display: inline-block;
    padding: .15rem .4rem;
    border-radius: .4rem;
}



/* Help styles */
.space-between {display: flex; justify-content: space-between; align-items: center;}
.flex-r {
    display: flex;
    gap: 1rem;
    width: 100%;
}
.project-detail-left {
    width: 60%;
    height: 100%;
}
.project-detail-right {
    width: 40%;
    height: 100%;
}