.hidden {
  display: none !important;
}
.logo {
  width: 140px;

}
a.btn-prim {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    background-color: black;
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
}
a.btn-prim:hover {
    background-color: #202020;
    transition: background-color 0.3s ease-in-out;
}
a.btn-prim span {
    margin-top: 0.2rem;
    font-size: 0.9rem;
}
.pagetabs {
    display: flex;
    gap: 1rem;
    padding: 0;
}
.pagetabs li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 700;
}
.cols {
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr 1fr;
}
.card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.2);
    transform: scale(1.01, 1.01);
}
.card h3 a {
    text-decoration: none;
    color: black;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* STATUSES */
.status-badge__wrapper {
    display: block;
    position: relative;
}
.status-badge__text {
    display: block;
    cursor: pointer;
}
.status-badge__buttons {
    display: none;
    gap: 0.3rem;
}
.status-badge__buttons a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #a6a6a6;
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem 0.1rem;
    text-align: center;
}
.status-badge__wrapper.selected > .status-badge__buttons {
    display: flex;
}
.status-badge__wrapper.selected > .status-badge__buttons {
    display: flex;
}
.status-ED {
    color: white;
    background: linear-gradient(60deg, #30e39e 0%, #40e2ac 100%);
    padding: 0.3rem 0.55rem 0.2rem;
    font-size: 0.7rem;
    border-radius: 4rem;
    display: inline-block;
}
.status-BW {
    color: white;
    background: linear-gradient(60deg, #ffab0f 0%, #ffc252 100%);
    padding: 0.3rem 0.55rem 0.2rem;
    font-size: 0.7rem;
    border-radius: 4rem;
    display: inline-block;
}
.status-CC {
    color: white;
    background: linear-gradient(60deg, #ff370f 0%, #e42c08 100%);
    padding: 0.3rem 0.55rem 0.2rem;
    font-size: 0.7rem;
    border-radius: 4rem;
    display: inline-block;
}
.status-DR {
    color: white;
    background: linear-gradient(60deg, #fb6e3f 0%, #ff6430 100%);
    padding: 0.3rem 0.55rem 0.2rem;
    font-size: 0.7rem;
    border-radius: 4rem;
    display: inline-block;
}
.status-AI {
    color: grey;
    background-color: #e1e1e1;
    padding: 0.3rem 0.55rem 0.2rem;
    font-size: 0.7rem;
    border-radius: 4rem;
    display: inline-block;
}
